@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/icon-512.png" />
    </a>

    <a href="" class="nav-tab active">
        <img src="img/pizza-slice.svg" />
        <div>Pizza Sešimi</div>
    </a>
</div>

<div class="content">
    @Body
</div>